{% extends 'layout/base.html' %}

{% load humanize %}

{% load static %}

{% block head%}
    <link rel="stylesheet" href="{% static 'css/credits/list.css' %}">
{% endblock %}


{% block content %}
    <div class="page">

        {% include "components/search_bar.html" with id="credit-search" placeholder="Rechercher un crédit par référence ou client" %}

        <div class="header">
            <div>
                <h2>💳 Crédits clients</h2>
            </div>

            <a href="{% url 'credits:create_credit' %}" class="add">
                + Nouveau crédit
            </a>
        </div>

        <div class="table-card">
            <table>
                <thead>
                    <tr>
                        <th>Référence</th>
                        <th>Client</th>
                        <th>Magasin</th>
                        <th>Montant</th>
                        <th>Reste à payer</th>
                        <th>Taux</th>
                        <th>Détail</th>
                        <th>Échéance</th>
                        <th>Statut</th>
                        <th>Comptoir</th>
                    </tr>
                </thead>

                <tbody id="credits-table">
                    {% for credit in credits %}
                        <tr>
                            <td>{{ credit.reference }}</td>
                            <td class="strong">{{ credit.customer }}</td>
                            <td>{{ credit.store }}</td>
                            <td class="amount">{{ credit.total_with_interest_rate_amount|intcomma }} FCFA</td>
                            <td class="amount text-danger">{{ credit.remaining|intcomma }} FCFA</td>
                            <td>{{ credit.interest_rate }}%</td>
                            <td>{{ credit.note }}</td>
                            <td>{{ credit.due_date|date:"d/m/Y" }}</td>
                            <td>
                                {% if credit.status == "paid" %}
                                    <span class="badge paid">Remboursé</span>
                                {% elif credit.status == "overdue" %}
                                    <span class="badge late">En retard</span>
                                {% else %}
                                    <span class="badge pending">En cours</span>
                                {% endif %}
                            </td>

                            <td>
                                {% if credit.status == 'paid' %}
                                    <span class="validated">
                                        Payé
                                    </span>
                                {% else %}
                                    <a href="{% url 'credits:create_credit_payment' %}">Payer</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="7" class="empty">
                                Aucun crédit enregistré
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    {% include "components/pagination.html" %}
{% endblock %}



{% block scripts %}
    <script src="{% static 'js/search.js' %}"></script>
    <script>
        // script pour bar de recherche de credits
        const CREDIT_URL = "{% url 'credits:search_api' 'credits' %}";
        new LiveSearch({
            input:"#credit-search",
            table:"#credits-table",
            url:CREDIT_URL,
            renderer:this.renderCredits
        });
    </script>
{% endblock %}