{% extends 'layout/base.html' %}

{% load humanize %}

{% load static %}

{% block head%}
<link rel="stylesheet" href="{% static 'css/credits/payment.css' %}">
{% endblock %}


{% block content %}
<div class="container">

    <div class="card">

        <div class="header">

            <div>
                <h1>💳 Paiement crédit</h1>
                <p>Enregistrer un remboursement client</p>
            </div>

            <a href="{% url 'credits:credit_list' %}" class="back-btn">
                Retour
            </a>

        </div>


        <form method="POST">

            {% csrf_token %}

            {% if form.errors %}
            <div class="errors">

                {% for field in form %}
                    {% for error in field.errors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                {% endfor %}

            </div>
            {% endif %}


            <div class="grid">

                <div class="field">
                    <label>
                        {{ form.credit.label }}
                    </label>

                    {{ form.credit }}
                </div>


                <div class="field">

                    <label>
                        {{ form.payment_method.label }}
                    </label>

                    {{ form.payment_method }}

                </div>


                <div class="field full">

                    <label>
                        {{ form.amount.label }}
                    </label>

                    {{ form.amount }}

                </div>


                <div class="field full">

                    <label>
                        {{ form.note.label }}
                    </label>

                    {{ form.note }}

                </div>

            </div>


            <div class="actions">

                <button type="submit">

                    Enregistrer le paiement

                </button>

            </div>

        </form>

    </div>

</div>
{% endblock %}