.form-page {

    display: flex;

    justify-content: center;

    padding: 40px;

}


.form-card {

    width: 900px;

    background: white;

    padding: 40px;

    border-radius: 25px;

    box-shadow:

        0 25px 60px rgba(0,
            0,
            0,
            0.08);

}


.title {

    margin-bottom: 35px;

}


.title h1 {

    font-size: 34px;

    margin-bottom: 10px;

}


.title p {

    color: #777;

}


.grid {

    display: grid;

    grid-template-columns:

        1fr 1fr;

    gap: 22px;

}


.field {

    display: flex;

    flex-direction: column;

}


.field label {

    font-weight: bold;

    margin-bottom: 10px;

}


.form-control {

    padding: 16px;

    border-radius: 14px;

    border: 2px solid #eee;

    outline: none;

}


.form-control:focus {

    border-color: #f39b00;

}


.errorlist {

    color: red;

    list-style: none;

    margin-top: 10px;

}


.buttons {

    display: flex;

    justify-content: flex-end;

    gap: 15px;

    margin-top: 35px;

}


.cancel {

    padding: 16px 22px;

    background: #eee;

    border-radius: 14px;

    text-decoration: none;

    color: #444;

}


button {

    background: #f39b00;

    color: white;

    border: none;

    padding: 16px 22px;

    border-radius: 14px;

    cursor: pointer;

}


@media(max-width:800px) {

    .grid {

        grid-template-columns: 1fr;

    }

}