.client-page{

padding:30px;

}


.page-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:30px;

}


.page-header h1{

font-size:34px;

margin-bottom:10px;

}


.page-header p{

color:#777;

}


.btn-add{

background:#f39b00;

padding:16px 22px;

color:white;

border-radius:14px;

text-decoration:none;

font-weight:700;

}


.btn-add:hover{

transform:translateY(-2px);

}


.table-card{

background:white;

border-radius:24px;

overflow:hidden;

box-shadow:

0 20px 50px rgba(
0,
0,
0,
0.08
);

}


table{

width:100%;

border-collapse:collapse;

}


thead{

background:#f39b00;

color:white;

}


th,
td{

padding:18px;

text-align:left;

}


tbody tr:hover{

background:#fff8eb;

}


.actions{

display:flex;

gap:10px;

}


.edit{

background:#39cc57;

color:white;

padding:10px 14px;

border-radius:10px;

text-decoration:none;

}


.delete{

background:#ef4444;

color:white;

padding:10px 14px;

border-radius:10px;

text-decoration:none;

}