sonikaraelectrostock/__pycache__

.env
db.sqlite3
media
staticfiles

accounts/__pycache__
accounts/migrations/__pycache__

dashboard/__pycache__
dashboard/migrations/__pycache__

stores/__pycache__
stores/migrations/__pycache__

products/__pycache__
products/migrations/__pycache__

stocks/__pycache__
stocks/migrations/__pycache__

suppliers/__pycache__
suppliers/migrations/__pycache__

purchases/__pycache__
purchases/migrations/__pycache__


customers/__pycache__
customers/migrations/__pycache__

sales/__pycache__
sales/migrations/__pycache__

payments/__pycache__
payments/migrations/__pycache__


documents/__pycache__
documents/migrations/__pycache__

quotes/__pycache__
quotes/migrations/__pycache__


credits/__pycache__
credits/migrations/__pycache__

expenses/__pycache__
expenses/migrations/__pycache__