{% load humanize %}

<div class="total-area">

    <div class="total-card">

        <div class="total-line">

            Produits

            <span>

                {{ quote.total|intcomma }}

                FCFA

            </span>

        </div>


        <div class="total-line">

            Main d'œuvre

            <span>

                {{ quote.labor_cost|intcomma }}

                FCFA

            </span>

        </div>


        {% if quote.apply_vat %}

        <div class="total-line">

            TVA

            <span>

                {{ quote.vat_amount|intcomma }}

                FCFA

            </span>

        </div>

        {% endif %}


        <div class="total-final">

            TOTAL

            <span>

                {{ quote.total_ttc|intcomma }}

                FCFA

            </span>

        </div>

    </div>

</div>