* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    background: #efefef;

    font-family: Arial;

}


/* STRUCTURE */

.layout {

    display: grid;

    grid-template-columns:

        260px 1fr;

    grid-template-rows:

        70px 1fr;

    min-height: 100vh;

}


/* NAVBAR */

.navbar {

    grid-column: 1/-1;

    grid-row: 1;

}


/* SIDEBAR */

.sidebar-wrapper {

    grid-column: 1;

    grid-row: 2;

}


/* CONTENT */

.content {

    grid-column: 2;

    grid-row: 2;

    padding: 30px;

    overflow: auto;

}


/* MOBILE */

@media(max-width:900px){

    .layout{

        grid-template-columns:1fr;

    }

    .card{

        padding:15px;

    }

    .content{

        grid-column:1;

        padding:15px;

    }

    .sidebar-wrapper{

        display:block;

        position:fixed;

        top:70px;

        left:-300px;

        width:260px;

        height:calc(100vh - 70px);

        background:white;

        z-index:1000;

        transition:.3s;

        overflow-y:auto;

    }

    .sidebar-wrapper.open{

        left:0;

    }

    .grid{
        grid-template-columns:1fr;
    }

}


#sidebar-overlay{

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.45);

    display:none;

    z-index:900;

}

#sidebar-overlay.show{

    display:block;

}





/* ALERT MESSAGE */

.messages-container {

    position: fixed;

    top: 90px;

    right: 30px;

    z-index: 9999;

    display: flex;

    flex-direction: column;

    gap: 12px;

}


.alert {

    min-width: 320px;

    padding: 18px 22px;

    border-radius: 16px;

    color: white;

    display: flex;

    justify-content: space-between;

    align-items: center;

    box-shadow:

        0 10px 30px rgba(0,
            0,
            0,
            0.15);

    animation:

        slideIn .25s;

}


.success {

    background: #28a745;

}


.error {

    background: #e53935;

}


.warning {

    background: #f39b00;

}


.info {

    background: #2196f3;

}


.close-message {

    background: none;

    border: none;

    color: white;

    font-size: 22px;

    cursor: pointer;

}


@keyframes slideIn {

    from {

        opacity: 0;

        transform:

            translateX(40px);

    }

    to {

        opacity: 1;

        transform:

            translateX(0);

    }

}


/* tablette */
@media(min-width:900px) and (max-width:1200px){

    .layout{

        grid-template-columns:90px 1fr;

    }

    .sidebar a{

        justify-content:center;

        padding:14px;

    }

    .sidebar a{

        font-size:0;

    }

    .sidebar a i{

        font-size:20px;

    }

    .logo-box img{

        width:60px;

    }

}

/* pour tout les tables (les listes) */
.table-responsive{
    overflow-x:auto;
}