* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    background: #efefef;

    font-family: Arial;

}


/* STRUCTURE */

.layout {

    display: grid;

    grid-template-columns:

        260px 1fr;

    grid-template-rows:

        70px 1fr;

    min-height: 100vh;

}


/* NAVBAR */

.navbar {

    grid-column: 1/-1;

    grid-row: 1;

}


/* SIDEBAR */

.sidebar-wrapper {

    grid-column: 1;

    grid-row: 2;

}


/* CONTENT */

.content {

    grid-column: 2;

    grid-row: 2;

    padding: 30px;

    overflow: auto;

}


/* MOBILE */

@media(max-width:900px) {

    .layout {

        grid-template-columns: 1fr;

    }

    .sidebar-wrapper {

        display: none;

    }

    .content {

        grid-column: 1;

    }

}