{% extends "layout/base.html" %} {% load static %}
{% load humanize %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/subscriptions/dashboard.css' %}">
{% endblock %}

{% block content %}

<div class="page">

    <div class="page-header">

        <div>
            <h1>Administration SaaS</h1>
            <p>Gestion des abonnements</p>
            <a href="{% url 'subscriptions:plan' %}">Tarifs</a>
        </div>

        <div class="actions">

            <a href="{% url 'accounts:register' %}" class="btn btn-primary">
                + Utilisateur
            </a>

            <a href="{% url 'subscriptions:company_create' %}" class="btn btn-warning text-white">
                + Entreprise
            </a>

            <a href="{% url 'subscriptions:subscription_create' %}" class="btn btn-success">
                + Abonnement
            </a>

            <a href="{% url 'subscriptions:payment_create' %}" class="btn btn-primary">
                + Paiement
            </a>

        </div>

    </div>


    <div class="stats">

        <div class="card">

            <h4>Entreprises</h4>

            <h2>{{ company_count }}</h2>

        </div>

        <div class="card success">

            <h4>Abonnements actifs</h4>

            <h2>{{ active_subscription }}</h2>

        </div>

        <div class="card danger">

            <h4>Expirés</h4>

            <h2>{{ expired_subscription }}</h2>

        </div>

        <div class="card warning">

            <h4>Paiements reçu de {% now "Y" %}</h4>

            <h2>{{ payment_year|intcomma }} FCFA</h2>

        </div>

    </div>


    <div class="grid">

        <div class="table-card">

            <div class="table-header">

                <h3>

                    Abonnements bientôt expirés

                </h3>

                <a href="{% url 'subscriptions:subscription_list' %}">
                    Voir tout
                </a>

            </div>

            <table>

                <thead>

                    <tr>

                        <th>Entreprise</th>

                        <th>Fin abonnement</th>

                        <th>Jours restants</th>

                    </tr>

                </thead>

                <tbody>

                    {% for subscription in expiring_subscriptions %}

                    <tr>

                        <td>

                            {{ subscription.company.name }}

                        </td>

                        <td>

                            {{ subscription.end_date }}

                        </td>

                        <td>

                            {{ subscription.remaining_days }}

                            jours

                        </td>

                    </tr>

                    {% empty %}

                    <tr>

                        <td colspan="3">

                            Aucun abonnement concerné

                        </td>

                    </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>



        <div class="table-card">

            <div class="table-header">

                <h3>

                    Derniers paiements

                </h3>

                <a href="{% url 'subscriptions:payment_list' %}">
                    Voir tout
                </a>

            </div>

            <table>

                <thead>

                    <tr>

                        <th>Entreprise</th>

                        <th>Montant</th>

                        <th>Date</th>

                    </tr>

                </thead>

                <tbody>

                    {% for payment in last_payments %}

                    <tr>

                        <td>

                            {{ payment.subscription.company.name }}

                        </td>

                        <td>

                            {{ payment.amount|intcomma }}

                            FCFA

                        </td>

                        <td>

                            {{ payment.payment_date }}

                        </td>

                    </tr>

                    {% empty %}

                    <tr>

                        <td colspan="3">

                            Aucun paiement

                        </td>

                    </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>

    </div>

</div>

{% endblock %}