{% extends 'layout/base.html' %} {% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/accounts/user_list.css' %}">
{% endblock %}


{% block content %}

    <div class="page">
        <div class="page-header">
            <div>
                <h1>👥 Utilisateurs</h1>
                <p>Gestion des collaborateurs</p>
            </div>

            <a href="{% url 'accounts:register' %}" class="btn-add">
                + Nouvel utilisateur
            </a>
        </div>


        <div class="stats">
            <div class="stat-card">
                <h3>{{ total_users }}</h3>
                <span>Utilisateurs</span>
            </div>

            <div class="stat-card">
                <h3>{{ total_manager }}</h3>
                <span>Gérants</span>
            </div>

            <div class="stat-card">
                <h3>{{ total_cashier }}</h3>
                <span>Caissiers</span>
            </div>

            <div class="stat-card">
                <h3>{{ total_seller }}</h3>
                <span>Vendeurs</span>
            </div>
        </div>


        <div class="table-card">

            <table>

                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Email</th>
                        <th>Téléphone</th>
                        <th>Magasin</th>
                        <th>Rôle</th>
                        <th>Statut</th>
                        <th>Date création</th>
                        <th>Dernière connexion</th>
                        <!-- <th>Actions</th> -->
                    </tr>
                </thead>

                <tbody>

                    {% for user in users %}
                        <tr>
                            <td>
                                <strong>
                                    {{ user.first_name }}
                                    {{ user.last_name }}
                                </strong>
                            </td>

                            <td>
                                <a href="{% url 'accounts:edit_collaborator' user.id %}" style="text-decoration: none;">
                                    {{ user.email }}
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" width="20" heigth="15" fill="blue"><path d="M416.9 85.2L372 130.1L509.9 268L554.8 223.1C568.4 209.6 576 191.2 576 172C576 152.8 568.4 134.4 554.8 120.9L519.1 85.2C505.6 71.6 487.2 64 468 64C448.8 64 430.4 71.6 416.9 85.2zM338.1 164L122.9 379.1C112.2 389.8 104.4 403.2 100.3 417.8L64.9 545.6C62.6 553.9 64.9 562.9 71.1 569C77.3 575.1 86.2 577.5 94.5 575.2L222.3 539.7C236.9 535.6 250.2 527.9 261 517.1L476 301.9L338.1 164z"/></svg>
                                </a>
                            </td>

                            <td>
                                {{ user.phone }}
                            </td>

                            <td>
                                {{ user.store|default:"—" }}
                            </td>

                            <td>
                                <span class="role {{ user.role }}">
                                    {{ user.get_role_display }}
                                </span>
                            </td>

                            <td>
                                {% if user.is_active %}
                                    <span class="active">Actif</span>
                                {% else %}
                                    <span class="inactive">Désactivé</span>
                                {% endif %}
                            </td>

                            <td>
                                {{ user.date_joined|date:"d/m/Y" }}
                            </td>

                            <td>
                                {{ user.last_login }}
                            </td>

                            <!-- <td class="actions">
                                <a href="#" class="edit">
                                    Modifier
                                </a>

                                <a href="#" class="delete"
                                    onclick="return confirm('Supprimer cet utilisateur ?')"
                                > Supprimer</a>
                            </td> -->
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="8">Aucun utilisateur.</td>
                        </tr>
                    {% endfor %}

                </tbody>

            </table>

        </div>

    </div>

{% endblock %}