.form-container {

    display: flex;

    justify-content: center;

    padding: 40px;

}


.card {

    width: 850px;

    background: white;

    padding: 40px;

    border-radius: 28px;

    box-shadow:

        0 25px 50px rgba(0,
            0,
            0,
            0.08);

}


.top {

    margin-bottom: 35px;

}


.top h1 {

    font-size: 34px;

    margin-bottom: 10px;

}


.top p {

    color: #777;

}


/* GRID */

.grid {

    display: grid;

    grid-template-columns:

        1fr 1fr;

    gap: 24px;

}


.field {

    display: flex;

    flex-direction: column;

}


.field:last-child {

    grid-column: 1/-1;

}


label {

    font-weight: 700;

    margin-bottom: 10px;

}


/* INPUT */

.form-control {

    padding: 16px;

    border: 2px solid #eee;

    border-radius: 14px;

    outline: none;

    transition: .2s;

}


.form-control:focus {

    border-color: #f39b00;

    box-shadow:

        0 0 0 5px rgba(243,
            155,
            0,
            0.15);

}


textarea {

    resize: none;

}


/* ERROR */

.errorlist {

    margin-top: 8px;

    list-style: none;

    color: #d32f2f;

}


/* BUTTONS */

.buttons {

    margin-top: 40px;

    display: flex;

    justify-content: flex-end;

    gap: 15px;

}


.cancel {

    padding: 16px 22px;

    background: #eee;

    border-radius: 12px;

    text-decoration: none;

    color: #444;

}


button {

    border: none;

    background: #f39b00;

    padding: 16px 22px;

    color: white;

    border-radius: 12px;

    cursor: pointer;

    font-weight: bold;

}


button:hover {

    background: #e38d00;

}


@media(max-width:900px) {

    .grid {

        grid-template-columns: 1fr;

    }

    .card {

        padding: 30px;

    }

}