.page {
    padding: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.add {
    background: #f39b00;
    padding: 12px 22px;
    color: white;
    border-radius: 8px;
    text-decoration: none;
}

.table-card {
    background: white;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .08);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #f7f7f7;
    padding: 16px;
    text-align: left;
}

td {
    padding: 16px;
    border-top: 1px solid #eee;
}

tbody tr:hover {
    background: #fafafa;
}

@media(max-width:900px) {

    .table-card {
        overflow: auto;
    }

}