{% extends 'layout/base.html' %} {% load static %}

{% load humanize %}


{% block head%}
    <link rel="stylesheet" href="{% static 'css/purchases/purchase_list.css' %}">
{% endblock %}


    <h1>

        + Nouveau devis

    </h1>

{% block content %}

<div class="page">

    <div class="top">

        <h1>

            Devis

        </h1>

        <a href="{% url 'quotes:create_quote' %}" class="add">

            + Nouveau Devis

        </a>

    </div>


    <div class="card">

        <table>

            <thead>

                <tr>

                    <th>Date</th>

                    <th>Client</th>

                    <th>Magasin</th>

                    <th>Référence </th>

                    <th>Total</th>

                    <th>

                    Actions

                    </th>

                </tr>

            </thead>


            <tbody>

                {% for quote in quotes %}

                <tr>

                    <td>

                        {{ quote.created_at }}

                    </td>

                    <td>

                        {{ quote.customer }}

                    </td>

                    <td>

                        {{ quote.store }}

                    </td>

                    <td>
                        <a href="{% url 'quotes:update_quote' quote.id %}" style="text-decoration: none; color: black;"> 
                            {{ quote.reference }}
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" width="20" heigth="20" fill="#f39b00"><path d="M416.9 85.2L372 130.1L509.9 268L554.8 223.1C568.4 209.6 576 191.2 576 172C576 152.8 568.4 134.4 554.8 120.9L519.1 85.2C505.6 71.6 487.2 64 468 64C448.8 64 430.4 71.6 416.9 85.2zM338.1 164L122.9 379.1C112.2 389.8 104.4 403.2 100.3 417.8L64.9 545.6C62.6 553.9 64.9 562.9 71.1 569C77.3 575.1 86.2 577.5 94.5 575.2L222.3 539.7C236.9 535.6 250.2 527.9 261 517.1L476 301.9L338.1 164z"/></svg>
                        </a>
                    </td>

                    <td>

                        {{ quote.total_amount|intcomma }}

                        FCFA
                    </td>

                    <td>
                        {% if quote.pdf %}
                            <a class="btn btn-primary" href="{% url 'quotes:print_quote' quote.id %}" target="_blank">
                                🖨 Imprimer
                            </a>
                        {% endif %}
                    </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page=1">
                « Premier
            </a>

            <a href="?page={{ page_obj.previous_page_number }}">
                ←
            </a>
        {% endif %}

        <span>Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">
                →
            </a>

            <a href="?page={{ page_obj.paginator.num_pages }}">
                Dernier »
            </a>
        {% endif %}
    </div>

</div>

{% endblock %}