<div class="pagination">
    {% if page_obj.has_previous %}
    <a href="?page=1">« Premier</a>

    <a href="?page={{ page_obj.previous_page_number }}">
        ←
    </a>
    {% endif %}

    <span>Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">
        →
    </a>

    <a href="?page={{ page_obj.paginator.num_pages }}">
        Dernier »
    </a>
    {% endif %}
</div>


<style>
    /* pagination css */
    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        margin-top: 30px;
        flex-wrap: wrap;
    }

    .pagination a {
        padding: 10px 18px;
        background: #f39b00;
        color: white;
        text-decoration: none;
        border-radius: 10px;
        transition: .2s;
    }

    .pagination a:hover {
        opacity: .9;
        transform: translateY(-2px);
    }

    .pagination span {
        font-weight: 700;
        font-size: 15px;
    }
</style>