<div class="search-card {{ width|default:'col-md-5' }}">
    <input
        id="{{ id }}"
        type="text"
        placeholder="{{ placeholder }}"
    >
</div>


<style>
    .search-card{
        margin:20px 0;
        padding:20px;
        background:#f39b00;
        border-radius:12px;
        box-shadow:0 3px 10px rgba(0,0,0,.08);
    }

    .search-card input{
        width:100%;
        padding:12px 15px;
        border:1px solid #ddd;
        border-radius:8px;
        font-size:15px;
        box-sizing:border-box;
    }
</style>