{% load static %}

<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>reset password</title>
        <link rel="stylesheet" href="{% static 'css/register.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>
    </head>

    <body>
        <div class="register-container">
            <div class="register-card">
                <div class="col-md-4 register-widget">
                    <h2>S'il vous plait saisissez votre nouveau Mot de passe</h2>
                    <br />
                    {% for message in messages %}
                        <p style="color: red; text-align: center;">{{ message }}</p>
                    {% endfor %}

                    <form method="post">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label>Nouveau mot de passe *</label>
                            {{ form.new_password1 }}
                            {% if form.new_password1.errors %}
                                <span style="color:red;">{{ form.new_password1.errors }}</span>
                            {% endif %}
                        </div> <br />

                        <div class="mb-3">
                            <label>Confirmer le mot de passe *</label>
                            {{ form.new_password2 }}
                            {% if form.new_password2.errors %}
                                <span style="color:red;">{{ form.new_password2.errors }}</span>
                            {% endif %}
                        </div> <br />

                        <button type="submit" class="btn" 
                                style="background-color: #412018; color: #F0D79F; font-family: 'Libre Baskerville';">
                            Confirmer
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </body>

    <script>
        emailInputDecoration = () => {
            const passwordInput1 = document.querySelector('#id_new_password1');
            const passwordInput2 = document.querySelector('#id_new_password2');

            passwordInput1.placeholder="Nouveau mot de passe";
            passwordInput2.placeholder="Répéter le mot de passe";

            passwordInput1.classList.add('form-control');
            passwordInput2.classList.add('form-control');

        }
        emailInputDecoration()
    </script>
</html>