{% extends 'layout/base.html' %}
{% load static %}

{% load humanize %}


{% block head%}
<link rel="stylesheet" href="{% static 'css/products/product_list.css' %}">
{% endblock %}


{% block content %}
    <!-- bar de rechercher -->
    <div class="search-card col-md-5">
            <input
                id="product-search"
                required
                type="text"
                name="q"
                value="{{ q }}"
                placeholder="Rechercher un produit par nom ou référence"
            >
    </div>
    <!-- fin de bar de recherche -->

    <div class="page-header">
        <h1>📦 Produits</h1>
        <a href="{% url 'products:create' %}" class="btn-add">+ Ajouter</a>
    </div>

    <div class="table-card">
        <table>
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Produit</th>
                    <th>Magasin(Stock)</th>
                    <th>Catégorie</th>
                    <th>Marque</th>
                    <th>Référence produit</th>
                    <th>Prix Achat</th>
                    <th>Prix Vente</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody id="products-table">
                {% for product in products %}
                <tr>
                    <td>
                        {% if product.image %}
                        <img class="thumb" src="{{ product.image.url }}">
                        {% else %}
                        —
                        {% endif %}
                    </td>
                    <td>{{ product.name }}</td>
                    <td>

                        {% for stock in product.stocks.all %}
                        {{ stock.store }}({{ stock.quantity }}) <br />
                        {% empty %}
                        —
                        {% endfor %}

                    </td>
                    <td>{{ product.category }}</td>
                    <td>{{ product.marque }}</td>
                    <td>{{ product.reference }}</td>
                    {% if product.purchase_price != None %}
                    <td>{{ product.purchase_price|intcomma }} FCFA</td>
                    {% else %}
                    <td> --- </td>
                    {% endif %}
                    <td>{{ product.sale_price|intcomma }} FCFA</td>
                    <td class="actions">
                        <a class="edit" href="{% url 'products:update' product.id %}">
                            Modifier
                        </a>
                        <a class="delete" href="{% url 'products:delete' product.id %}"
                            onclick="return confirm('Supprimer ce produit ?')">
                            Supprimer
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="8">Aucun produit</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page=1&q={{ q }}">« Premier</a>

            <a href="?page={{ page_obj.previous_page_number }}&q={{ q }}">
                ←
            </a>
        {% endif %}

        <span>Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&q={{ q }}">
                →
            </a>

            <a href="?page={{ page_obj.paginator.num_pages }}&q={{ q }}">
                Dernier »
            </a>
        {% endif %}
    </div>




<script>

    const PRODUCT_URL = "{% url 'products:product_search_api' %}";

    const input = document.getElementById("product-search");

    const table = document.getElementById("products-table");

    let timer;

    input.addEventListener("input", function(){

        clearTimeout(timer);

        timer = setTimeout(searchProducts,200);

    });


    async function searchProducts(){

        const q=input.value.trim();

        if(q===""){
            location.reload();
            return;
        }

        const response=await fetch(
            `${PRODUCT_URL}?q=${encodeURIComponent(q)}`
        );

        const data=await response.json();

        renderProducts(data.results);

    }


    function renderProducts(products){

        if(products.length === 0){
            table.innerHTML = `
                <tr>
                    <td colspan="9">Aucun produit trouvé</td>
                </tr>
            `;
            return;
        }

        table.innerHTML = products.map(product => {

            const stocks = product.stocks.length
                ? product.stocks.map(s =>
                    `${s.store} (${s.quantity})`
                ).join("<br>")
                : "—";

            const image = product.image
                ? `<img class="thumb" src="${product.image}">`
                : "—";

            return `
                <tr>

                    <td>${image}</td>

                    <td>${product.name}</td>

                    <td>${stocks}</td>

                    <td>${product.category}</td>

                    <td>${product.marque || "—"}</td>

                    <td>${product.reference}</td>

                    <td>
                        ${product.purchase_price != null
                            ? Number(product.purchase_price).toLocaleString('fr-FR') + ' FCFA'
                            : '---'}
                    </td>

                    <td>
                        ${Number(product.sale_price).toLocaleString('fr-FR')} FCFA
                    </td>

                    <td class="actions">
                        <a class="edit" href="/products/${product.id}/update/">
                            Modifier
                        </a>

                        <a class="delete"
                        href="/products/${product.id}/delete/"
                        onclick="return confirm('Supprimer ce produit ?')">
                            Supprimer
                        </a>
                    </td>

                </tr>
            `;

        }).join("");
    }

</script>
{% endblock %}