{% extends 'layout/base.html' %} {% load static %}


{% block head%}
    <link rel="stylesheet" href="{% static 'css/products/product_form.css' %}">
{% endblock %}


{% block content %}
    <div class="form-container">
        <div class="form-card">

            <h1> 📦 Produit </h1>

            <form method="POST" enctype="multipart/form-data"> {% csrf_token %}

                <div class="grid">
                    {% for field in form %}
                        <div class="field">
                            {% if field.name == 'marque' %}
                                <label for="{{ field.id_for_label }}">
                                    {{ field.label }}
                                    <a href="{% url 'products:create_marque' %}" title="Ajouter une marque" class="add-marque-icon">
                                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                                            <line x1="12" y1="5" x2="12" y2="19"/>
                                            <line x1="5" y1="12" x2="19" y2="12"/>
                                        </svg>
                                    </a>
                                </label>

                                <div class="customer-search-wrapper">
                                    <input type="text"
                                        class="form-control"
                                        id="customer-search"
                                        placeholder="Rechercher par nom de marque"
                                        value="{% if form.instance.marque %}{{ form.instance.marque.name }} {% endif %}">

                                        <div id="customer-results"></div>
                                </div>

                            {% elif field.name == 'category' %}

                                <label for="{{ field.id_for_label }}">
                                    {{ field.label }}

                                    <a href="#"
                                        title="Ajouter une catégorie"
                                        class="add-category-icon"
                                        data-bs-toggle="modal"
                                        data-bs-target="#categoryModal">

                                        <svg width="20" height="20" viewBox="0 0 24 24"
                                            fill="none"
                                            stroke="currentColor"
                                            stroke-width="2">
                                            <line x1="12" y1="5" x2="12" y2="19"/>
                                            <line x1="5" y1="12" x2="19" y2="12"/>
                                        </svg>
                                    </a>
                                </label>
                            {% elif field.name == 'store' %}
                                <label for="{{ field.id_for_label }}">
                                    {{ field.label }}
                                    <a href="{% url 'stores:create' %}" title="Ajouter un magasin" class="add-store-icon">
                                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                                            <line x1="12" y1="5" x2="12" y2="19"/>
                                            <line x1="5" y1="12" x2="19" y2="12"/>
                                        </svg>
                                    </a>
                                </label>
                            {% else %}
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {% endif %}

                            {{ field }}
                            {{ field.errors }}
                        </div>
                    {% endfor %}
                </div>


                <div id="preview-box">
                    {% if form.instance.image %}
                        <img id="preview" src="{{ form.instance.image.url }}">
                    {% else %}
                        <img id="preview">
                    {% endif %}
                </div>


                <div class="buttons">
                    <a class="cancel" href="{% url 'products:product_list' %}">Retour</a>

                    <button>Enregistrer</button>
                </div>
            </form>
        </div>
    </div>


    <!-- Category Modal form -->
    <div class="modal fade" id="categoryModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Nouvelle catégorie</h5>
                    <button 
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal">
                    </button>
                </div>


                <div class="modal-body">
                    <form id="categoryCreateForm">{% csrf_token %}
                        <div class="mb-3">
                            <label>Nom</label>
                            <input 
                                id="category_name"
                                class="form-control"
                                required>
                        </div>

                        <div class="mb-3">
                            <label>Description</label>
                            <textarea
                                id="category_description"
                                class="form-control">
                            </textarea>
                        </div>
                        <button class="btn btn-primary">Ajouter</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Category Modal form -->

    <script>
        const imageInput = document.querySelector('#id_image');
        const preview = document.querySelector('#preview');

        if (imageInput) {
            imageInput.addEventListener('change', function () {
                    const file = this.files[0];
                    if (file) {
                        preview.src = URL.createObjectURL(file);
                    }
                }
            );
        }


        // popup modalform pour categorie

        document
        .getElementById("categoryCreateForm")
        .addEventListener("submit", function(e){

            e.preventDefault();


            fetch("{% url 'products:create_category_api' %}", {

                method: "POST",

                headers: {
                    "X-CSRFToken": document.querySelector(
                        '[name=csrfmiddlewaretoken]'
                    ).value,

                    "Content-Type": "application/json"
                },


                body: JSON.stringify({

                    name: document.getElementById(
                        "category_name"
                    ).value,


                    description: document.getElementById(
                        "category_description"
                    ).value

                })

            })


            .then(response => response.json())


            .then(data => {

                if(data.success){

                    const select = document.getElementById(
                        "id_category"
                    );


                    const option = new Option(
                        data.name,
                        data.id,
                        true,
                        true
                    );


                    select.add(option);


                    bootstrap.Modal
                    .getInstance(
                        document.getElementById(
                            "categoryModal"
                        )
                    )
                    .hide();


                    document.getElementById(
                        "categoryCreateForm"
                    ).reset();


                }
                else {

                    alert(
                        "Erreur : " + JSON.stringify(data)
                    );

                }

            });

        });
        // Fin de category modalform




    // rechercher un marque

    const CUSTOMER_URL = "{% url 'products:marque_search_api' %}";

    function debounce(fn, delay) {
        let timer;
        return function (...args) {
            clearTimeout(timer);
            timer = setTimeout(() => fn.apply(this, args), delay);
        };
    }

    const customerInput = document.getElementById('customer-search');
    const customerHidden = document.getElementById('id_marque');
    const customerResults = document.getElementById('customer-results');

    const searchCustomer = debounce(async function (query) {
        if (query.length < 1) {
            customerResults.style.display = 'none';
            return;
        }

        const response = await fetch(`${CUSTOMER_URL}?q=${query}`);
        const data = await response.json();
        renderCustomers(data.results);
    }, 200);


    function renderCustomers(results) {
        if (!results.length) {
            customerResults.innerHTML = '<div class="customer-item">Aucune marque trouvée</div>';
            customerResults.style.display = 'block';
            return;
        }

        customerResults.innerHTML = results.map(c => `
                <div class="customer-item" data-id="${c.id}" data-label="${c.name}">
                    <strong>${c.name}</strong>
                </div>`
        ).join('');

        customerResults.style.display = 'block';
    }

    customerInput.addEventListener('input', function () {
        searchCustomer(this.value.trim());
    });

    customerResults.addEventListener('click', function (e) {
        const item = e.target.closest('.customer-item');
        if (!item) return;

        customerHidden.value = item.dataset.id;
        customerInput.value = item.dataset.label;
        customerResults.style.display = 'none';
    });

    document.addEventListener('click', function (e) {
        if (!customerInput.contains(e.target) && !customerResults.contains(e.target)) {
            customerResults.style.display = 'none';
        }
    });
    // fin de recherche marque

    </script>

{% endblock %}