
<!DOCTYPE html>

<html>

<head>

<meta charset="utf-8">

<title>

Accès refusé

</title>

<style>

body{

margin:0;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#f7f7f7;

font-family:Arial;

}


.card{

width:500px;

background:white;

padding:50px;

text-align:center;

border-radius:24px;

box-shadow:

0 15px 50px
rgba(
0,
0,
0,
0.08
);

}


.icon{

font-size:80px;

margin-bottom:20px;

}


h1{

color:#f39b00;

}


p{

color:#666;

line-height:1.6;

}

</style>

</head>

<body>

<div class="card">

<div class="icon">

💻

</div>

<h1>

Version ordinateur uniquement

</h1>

<p>

Ce logiciel est disponible uniquement sur ordinateur.

Merci d'utiliser :

<br><br>

Windows<br>
Mac<br>
Linux

</p>

</div>

</body>

</html>