{% load static %}


<!-- LEFT -->
<aside class="sidebar-wrapper">

    <!-- LOGO -->
    <div class="logo-box">
        <img src="{% static 'images/sonikara_elec_logo.png' %}" alt="Logo">
    </div>


    <!-- SIDEBAR -->
    <nav class="sidebar">

        <a href="{% url 'dashboard:dashboard' %}">
            <i class="fa-solid fa-house"></i>
            Dashboard
        </a>

        <a href="{% url 'products:product_list' %}">
            <i class="fa-solid fa-box"></i>
            Produits
        </a>

        <a href="{% url 'purchases:list' %}">
            <i class="fa-solid fa-cart-shopping"></i>
            Achats
        </a>

        <a href="{% url 'sales:list' %}">
            <i class="fa-solid fa-sack-dollar"></i>
            Ventes
        </a>

        <a href="{% url 'customers:list' %}">
            <i class="fa-solid fa-users"></i>
            Clients
        </a>

        <a href="{% url 'suppliers:list' %}">
            <i class="fa-solid fa-truck"></i>
            Fournisseurs
        </a>

        <a href="{% url 'stores:store_list' %}">
            <i class="fa-solid fa-store"></i>
            Magasins
        </a>

        <a href="{% url 'payments:list' %}">
            <i class="fa-solid fa-building-columns"></i>
            Paiements
        </a>

        <a href="{% url 'documents:list' %}">
            <i class="fa-solid fa-file-invoice"></i>
            Documents
        </a>


        <a>
            <i class="fa-solid fa-user-tie"></i>
            Personnel
        </a>


        <a>
            <i class="fa-solid fa-wallet"></i>
            Dépenses
        </a>

        <a>
            <i class="fa-solid fa-credit-card"></i>
            Crédits
        </a>

        <a>
            <i class="fa-solid fa-chart-column"></i>
            Rapports
        </a>

    </nav>

</aside>