{% extends 'layout/base.html' %} {% load static %}

{% block head%}
    <link rel="stylesheet" href="{% static 'css/documents/form.css' %}">
{% endblock %}



{% block content %}

    <div class="document-page">

        <div class="card">
            <h1>📄 Générer un document</h1>
            <form method="POST"> {% csrf_token %}
                <div class="field">
                    <label>Type document</label>
                    {{ form.document_type }}
                </div>

                <div class="field" id="purchase-box">
                    <label>Achat</label>
                    {{ form.purchase }}
                </div>

                <div class="field" id="sale-box">
                    <label>Vente</label>
                    {{ form.sale }}
                </div>

                <div class="buttons">
                    <a href="{% url 'documents:list' %}" class="cancel">Retour</a>
                    <button>Générer</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}


{% block scripts %}
    <script>
        const type = document.getElementById('id_document_type')
        const purchase =document.getElementById('purchase-box')
        const sale = document.getElementById('sale-box')

        function toggleFields() {
            const value = type.value
            purchase.style.display = value === 'purchase_order' ? 'block' : 'none'
            sale.style.display = ['invoice', 'delivery_note'].includes(value) ? 'block' : 'none'
        }
        toggleFields()
        type.addEventListener('change', toggleFields)
    </script>
{% endblock %}